source https://www.nuget.org/api/v2

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.Hopac
nuget Expecto.VisualStudio.TestAdapter version_in_path: true
nuget Npgsql.FSharp
nuget Thoth.Json.Net